@model LibraryHomeworkMVC.Models.ViewModels.BooksViewModel;

<h2>Book Details for</h2>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"> @Model.Name </h5>
        <p class="card-text">@Model.Autor</p>
        <p class="card-text">@Model.Category</p>
    </div>
</div>